<main>
  <section class="header">
    <h2>Inventory Dashboard</h2>
    <div>
      <h2>John Cash</h2>
    </div>
  </section>

  <section class="overview">
    <div>
      <h3>Total Products</h3>
      <h2>230</h2>
      <p style="color: #7f8c8d; font-size: 14px; margin: 8px 0 0 0;">Inventory Overview</p>
    </div>

    <div>
      <h3>Sales Today</h3>
      <h2>58</h2>
      <p style="color: #7f8c8d; font-size: 14px; margin: 8px 0 0 0;">Sales Summary</p>
    </div>

    <div>
      <h3>Forecasted Sales</h3>
      <div class="forecasted-sales-overview">
        <img src="/assets/icons/open-forecasted-sales.svg" alt="open-forecasted-sales">
        <a routerLink="forecasted-sales">
          <h3>View Forecasted Sales</h3>
        </a>
      </div>
    </div>

    <div class="quick-actions-main">
      <h3>Quick Actions</h3>
      <div class="quick-actions">
        <button type="button">
          <img src="/assets/icons/add-icon.svg" alt="add-icon">
          <h4>Add Product</h4>
        </button>

        <button type="button">
          <img src="/assets/icons/record-sale-icon.svg" alt="record-sale-icon">
          <h4>Record Sale</h4>
        </button>

        <button type="button">
          <img src="/assets/icons/view-report-icon.svg" alt="view-report-icon">
          <h4>View Report</h4>
        </button>
      </div>
    </div>
  </section>

  <section class="forecasted-sales-and-recent-sales">
    <div class="forecasted-sales-main">
      <h2>Monthly Sales Forecast</h2>
      <app-sales-line-chart></app-sales-line-chart>
    </div>

    <div class="recent-sales-activity">
      <h2>Recent Sales Activity</h2>

      <table>
        <thead>
        <tr>
          <th>Date</th>
          <th>Product</th>
          <th>Stock</th>
          <th>Forecast</th>
        </tr>
        </thead>
        <tbody>
          @for (sales of recentSales; track sales) {
            <tr>
              <td>{{ sales.date }}</td>
              <td>{{ sales.productName }}</td>
              <td>{{ sales.stock }}</td>
              <td>
                @if (sales.isMovingUp) {
                  <img src="/assets/icons/profit-forecast.svg" alt="profit-forecast">
                } @else {
                  <img src="/assets/icons/lost-forecast.svg" alt="lost-forecast">
                }
              </td>
            </tr>
          } @empty {
            <tr>
              <td colspan="4" style="text-align: center; padding: 40px; color: #6c757d;">
                <p>No recent sales data available</p>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </section>
</main>
