<main class="main">

  <section class="header">
    <h1>📈 Forecasted Sales</h1>
  </section>

  <section class="product-selection">
    <select>
      <option>Tomatoes</option>
      <option>Banana</option>
      <option>Umbrella</option>
      <option>Toffees</option>
    </select>
    <p class="forecast-start-and-end-date">📅 26-01-2024 - 01-05-2025</p>
  </section>

  <section class="product-forecast-table">
    <table>
      <thead>
      <tr>
        <th>Months</th>
        <th>Past Sales</th>
        <th>Forecasted Sales</th>
        <th>Actual Sales</th>
        <th>Remark</th>
      </tr>
      </thead>
      <tbody>
        @for (forecastedSale of forecastedSales; track forecastedSale) {
          <tr>
            <td>{{ forecastedSale.month }}</td>
            <td>GHS {{ forecastedSale.pastSales }}</td>
            <td>GHS {{ forecastedSale.forecastedSales }}</td>
            <td>GHS {{ forecastedSale.actualSales }}</td>
            @if (forecastedSale.remark == "profit") {
              <td><img src="/assets/icons/profit-forecast.svg" alt="Profit"></td>
            } @else if (forecastedSale.remark == "equal") {
              <td><img src="/assets/icons/equal-forecast.svg" alt="Equal"></td>
            } @else {
              <td><img src="/assets/icons/lost-forecast.svg" alt="Loss"></td>
            }
          </tr>
        }
      </tbody>
    </table>
  </section>
</main>
